<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>800</integer>
    <key>capHeight</key>
    <integer>708</integer>
    <key>descender</key>
    <integer>-224</integer>
    <key>familyName</key>
    <string>Explore Sans Variable</string>
    <key>guidelines</key>
    <array/>
    <key>openTypeNameDesigner</key>
    <string>Bastien SANTE</string>
    <key>openTypeOS2VendorID</key>
    <string>    </string>
    <key>unitsPerEm</key>
    <integer>1024</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>520</integer>
  </dict>
</plist>
