<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>V</key>
      <integer>-106</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-96</integer>
      <key>public.kern2.a</key>
      <integer>-97</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>o</key>
      <integer>-100</integer>
      <key>public.kern2.a</key>
      <integer>-100</integer>
      <key>public.kern2.e</key>
      <integer>-90</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-114</integer>
      <key>public.kern2.a</key>
      <integer>-43</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <integer>-83</integer>
      <key>public.kern2.a</key>
      <integer>-34</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-80</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>eacute</key>
      <integer>-40</integer>
    </dict>
  </dict>
</plist>
