<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>V</key>
      <integer>0</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>0</integer>
      <key>o</key>
      <integer>0</integer>
      <key>public.kern2.a</key>
      <integer>0</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>V</key>
      <integer>0</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>o</key>
      <integer>0</integer>
      <key>public.kern2.a</key>
      <integer>0</integer>
      <key>public.kern2.e</key>
      <integer>0</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>0</integer>
      <key>public.kern2.a</key>
      <integer>0</integer>
      <key>public.kern2.e</key>
      <integer>0</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <integer>0</integer>
      <key>public.kern2.a</key>
      <integer>0</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>0</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>e</key>
      <integer>0</integer>
      <key>eacute</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1./</key>
    <dict>
      <key>public.kern2./</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.\</key>
    <dict>
      <key>public.kern2.\</key>
      <integer>0</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>g</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
