<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>aring</string>
      <string>atilde</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>ae</string>
      <string>e</string>
      <string>eacute</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>ae</string>
      <string>agrave</string>
      <string>aring</string>
      <string>atilde</string>
    </array>
    <key>public.kern2.e</key>
    <array>
      <string>e</string>
      <string>eacute</string>
    </array>
  </dict>
</plist>
