<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern2.LC_E</key>
  <array>
    <string>e</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>egrave</string>
  </array>
  <key>public.kern2.UC_A</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Aring</string>
    <string>Atilde</string>
  </array>
  <key>public.kern2.UC_T</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>uni021A</string>
  </array>
</dict>
</plist>
